/* Botões*/
.btn-command {
	width: 100%;
	margin-bottom: 5px;
	margin-top: 5px;
}

.btn-list-action {
	width: 40px;
}

.list-boolean-cell {
	width: 40px;
	text-align: center;
}

.table-center-cell {
	text-align:center;
	vertical-align: middle;
}

.selectOneMenu {
	width: 100%;
}

.dataTableCell-center {
	text-align: center;
	vertical-align: middle;
}

.ui-scrollpanel {
	width: 100%;
}
/* Tab */
.tab-pane {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10pxç
}

.btn-align-bottom {
	margin-top: 25px;
	width: 100%;
}

/*Color icons*/
.icon-color-red {
	color: #e3123c;
}

.icon-color-green {
	color: #02b201;
}

.glyphicon {
	margin-right: 5px;
}

.line {
	height: 20px;
	background-color: #a7a7a7;
}