@CHARSET "UTF-8";

/* Html puro */
html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	letter-spacing: 0.2pt;
}

h1, .h1 {
	font-size: 1.8em;
}

h2, .h2 {
	font-size: 1.5em;
}

h3, .h3 {
	font-size: 1.3em;
}

h4, .h4 {
	font-size: 1.2em;
}

h5, .h5 {
	font-size: 1.1em;
}

h4, h3, h2, h1, label {
	color: #51752D;
}

/* Primefaces hacks */

.ui-widget {
	font-size: 14px !important;
}
.ui-menu .ui-menu-parent .ui-menu-child {
	width: 300px !important; /* exagerated !! */
}


/* Estilos Criados */
#pagewrapper {
	min-height: 100%;
	position: relative;
}
#main-content {
	padding-bottom: 110px;
}

.detalhes .ui-panel-content {
	padding: 0;
}
.detalhes .ui-widget-content {
	padding: 0;
}
.obrigatorioAutoComplete input {
	border-left-color: #ff0000 !important;
	border-left-width: 2px !important;
}
.obrigatorio {
	border-left-color: #ff0000 !important;
	border-left-width: 2px !important;
}

/*css map leaflet tela solicitacaoDadosPropriedade */
#map {
	height: 600px;
}
.centered {
	position: absolute;
	height: 100px;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align:
}
.titulo_a_field {
	color: #006600;
	font-weight: bold;
}

/* Ambiente jsf */
fieldset {
	margin-top: 10px;
}
fieldset legend {
	color: #51752D;
	margin-bottom: 10px;
	font-size: 1.1em;
	font-weight: bold;
}
label{
	display: inline;
}
legend {
	font-size: 1.1em;
}

/* header */
.header-topo {
	height: 120px;
	max-height: 150px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
	margin-bottom: 5px;
	border-bottom: 1px solid #669933;
}

.header-topo-container {
	width: 100%;
	height: 100%;
}

.header-topo-nav-links {
	display: block;
	width: 100%;
	height: 25px;
	min-height: 25px;
	padding: 5px;
	margin-bottom: 10px;
	color: #fff;
	text-transform: uppercase;
	background-color: #000000;
}

.header-topo-nav-links a:link, .header-topo-nav-links a:visited {
	color: #fff;
}

.header-topo-nav-links a:hover {
	color: #FFDB01;
}

.header-topo-nav-links ul {
	list-style: none;
	padding-left: 0px;
}

.header-topo-nav-links ul li {
	float: left;
	display: inline-block;
	text-transform: uppercase;
	margin-left: 10px;
}

.header-topo-nav-links ul li>ul {
	padding-left: 0px;
}

.header-topo-nav-links ul>li {
	padding-left: 0px;
}

.header-topo-nav-links ul li ul li {
	padding-left: 0px;
	margin-left: 15px;
	float: left;
}

.header-topo-nav-links span {
	margin-left: 5px;
}

/* footer */
#footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 25px;
	max-height: 25px;
/* 	padding-top: 5px;
	padding-bottom: 5px; */
	background-color: #000000;
	border-top: 1px solid #3F561C;
}

.footer-externo .footer-container {
	padding-top: 3em;
	padding-bottom: 5px;
	height: 100%;
}

.footer-container {
	width: 100%;
	text-align: center;
}

#footer ul {
	list-style: none;
	padding-left: 0px;
}

#footer ul li>ul {
	padding-left: 0px;
}

#footer ul>li {
	padding-left: 0px;
}

#footer ul li ul li {
	padding-left: 0px;
	margin-left: 15px;
	list-style: circle;
	font-size: 0.9em;
}

#footer a:link, #footer a:visited {
	color: #fff;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
	color: #FFDB01;
	text-transform: uppercase;
	font-weight: bold;
}

/* PRIMEFACES and forms*/
.ui-widget {
	letter-spacing: 0.2pt;
}

.ui-widget-content {
	background-color: #FFFFFF;
	border: 1px solid #9BCC81;
}

/* ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all */
.ui-widget-header {
	background-color: #9BCC81;
	color: #658a2d;
}

.ui-panel .ui-panel-title {
	font-size: 1.2em;
}

.ui-selectoneradio label {
	margin-left: 5px;
	margin-right: 10px;
}

/* primefaces menubar */

/*
ul.ui-menu-list  > li:nth-child(1)
{
	margin-left: -10px;			
}
*/

.ui-menu.ui-menubar {
	/* background: #E3F2FD; */
}

.ui-helper-clearfix {
	display: block;
}

.ui-menu.ui-corner-all {
	border: none;
	box-shadow: none;
}

.ui-menu.ui-widget li {
	padding-left: 5px;
}

.ui-menu.ui-widget a.ui-menuitem-link {
	padding-right: 10px;
}

.ui-menu.ui-widget li>.ui-menuitem-link.ui-state-hover {
	background: none;
	background-color: #669933;
	color: #FFDB01;
}

.ui-menu.ui-sticky {
	padding-left: 80px;
	background: #E3F2FD url("#{request.contextPath}/resources/imagens/logo_sefisca.png") no-repeat 10px 10px;
	background-size: 75px;
	border-top: 2px solid #669933;
	width: 100%;
}

/* primefaces tables */
.ui-datatable-header.ui-widget-header {
	background: none;
}

.ui-datatable-header.ui-widget-header.ui-corner-top {
	border: none;
}
.ui-datatable-data label {
	/*color:	#000;*/
}

.ui-selectonemenu-filter-container {
	width: 100% !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
	width: 100% !important;
	padding-right: 26px !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger{
	width: 23px !important;
}

.ui-selectonemenu-trigger .ui-state-default .ui-corner-right{
	width: 23px !important;
}

.ui-selectonemenu  .ui-state-default, .ui-selectonemenu .ui-widget-content .ui-state-default, .ui-selectonemenu .ui-widget-header .ui-state-default {
	background: none;
	background: #669933; /* Old browsers */
	background: -moz-linear-gradient(top, #669933 0%, #669933 60%, #669933 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #669933 0%, #669933 60%, #669933 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #669933 0%, #669933 60%, #669933 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71a938', endColorstr='#669933', GradientType=0); /* IE6-9 */
}

.ui-datatable  .ui-state-default, .ui-datatable .ui-widget-content .ui-state-default, .ui-datatable .ui-widget-header .ui-state-default {
	color: #669933;
	border: 1px solid #669933;
	background: none;
	background-color: #e2f2da;
}

.ui-widget-content .ui-selectonemenu.ui-state-focus, .ui-selectonemenu .ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-inputfield.ui-state-focus {
	border-color: rgba(5, 149, 79, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
	outline: 0 none;
}

.ui-state-default, .ui-widget-content .ui-button .ui-state-default, .ui-widget-header .ui-button .ui-state-default, .ui-button, .ui-button .ui-widget .ui-state-default {
	background: none;
	background-color: #FF7F2A;
	background: #669933;
	background: -moz-linear-gradient(top, #669933 0%, #669933 60%, #669933 100%);
	background: -webkit-linear-gradient(top, #669933 0%, #669933 60%, #669933 100%);
	background: linear-gradient(to bottom, #669933 0%, #669933 60%, #669933 100%);
}

.ui-widget-content .ui-button {
	background: none;
	color: #fff;
	text-shadow: 0 1px 1px #71a938;
	cursor: pointer;
	background: #9BCC81;
	background: -moz-linear-gradient(top, #669933 0%, #669933 60%, #669933 100%);
	background: -webkit-linear-gradient(top, #669933 0%, #669933 60%, #669933 100%);
	background: linear-gradient(to bottom, #669933 0%, #669933 60%, #669933 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71a938', endColorstr='#669933', GradientType=0);
}

/** BS */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus,
	input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus,
	.uneditable-input:focus {
	border-color: rgba(5, 149, 79, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
	outline: 0 none;
}

.wrapper {
	width: 100%;
}

.header {
	background: #4d8b35;
}

.header .container {
	border-top: 8px solid #234316;
}

.header .branding {
	padding: 25px 0;
}

.header .branding h1 {
	color: #fff;
}

.header .branding h1 a {
	color: #fff;
	text-decoration: none;
}

.header .userInfo {
	margin-top: 10px;
	color: #abce9e;
}

.header .userInfo a {
	color: #fff;
}

.header .nav {
	margin-bottom: 0px;
}

.header .nav-tabs {
	border-bottom: 1px solid #4d8b35;
}

.header .nav-tabs>li {
	margin-bottom: -1px;
	margin-right: 3px;
}

.header .nav>li>a:hover {
	text-decoration: none;
	background-color: #234316;
}

.header .nav-list>.active>a, .header .nav-list>.active>a:hover {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #0088cc;
}

.header .nav-tabs>li>a {
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 18px;
	border: 1px solid transparent;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	background: #83ae72;
	color: #fff;
	font-weight: bold;
	padding: 10px 20px;
}

.header .nav-tabs>li>a:hover {
	border-color: #4d8b35;
}

.header .nav-tabs>.active>a, .header .nav-tabs>.active>a:hover {
	color: #555555;
	cursor: default;
	background-color: #ffffff;
	border: 1px solid #4d8b35;
	border-bottom-color: transparent;
}

.header .nav li.dropdown.open .caret, .header .nav li.dropdown.open.active .caret, .header .nav li.dropdown.open a:hover .caret {
	border-top-color: white;
	border-bottom-color: white;
	opacity: 1;
	filter: alpha(opacity = 100);
}

.header .nav-tabs .dropdown-toggle .caret, .header .nav-pills .dropdown-toggle .caret {
	margin-top: 6px;
	border-top-color: #fff;
	border-bottom-color: #fff;
	opacity: 1;
}

.content {
	margin-top: 30px;
}

.content .leftContent h2, .content .sidebar h2 {
	border-bottom: 1px solid #e0e0e0;
	min-height: 55px;
	padding: 5px 0px;
}

.content .leftContent hr {
	margin-top: 15px;
}

.content .leftContent p.cntPara {
	padding: 15px 0 0 65px;
}

.content .leftContent p.cntPara strong {
	display: block;
	margin: 5px 0;
}

.content .leftContent .simpleDesign {
	background: url(../images/ico_design.png) no-repeat 0 25px;
}

.content .leftContent .itsFree {
	background: url(../images/ico_free.png) no-repeat 0 25px;
}

.content .leftContent .secureApp {
	background: url(../images/ico_secure.png) no-repeat 0 25px;
}

.content .leftContent .easyUse {
	background: url(../images/ico_easy_to_use.png) no-repeat 0 25px;
}

.content .leftContent .signupTeaser {
	margin-top: 10px;
}

.content .leftContent .quickTour {
	margin-top: 20px;
	margin-bottom: 15px;
}

.content .sidebar h2 {
	text-align: right;
}

.content .sidebar h4, .content .sidebar h3 {
	margin-bottom: 10px;
}

.content .sidebar .quickSignupForm {
	margin-top: 30px;
}

.content .sidebar .btnSignup {
	margin-top: 10px;
}

.ui-datatable tbody td  .noborder  *  td {
	border: none;
}

.ui-datatable.ui-widget * td table tbody tr td {
	border: none;
}

.inicio .centro {
	display: block;
	margin: 0px auto;
}

.inicio {
	
}

.inicio table tr td {
	vertical-align: top;
}

.inicio h4 {
	margin-top: 3px;
	text-align: center;
}

/*dialogs*/
.ui-dialog.ui-widget-content .ui-dialog-titlebar{
	background-color: #9bcc81;
}

.EDICAO, .PENDENTE, .CORRIGIR_PENDENCIA {
	background-color: #ffe6cc !important;
	background-image: none !important;
	color: #000000 !important;
}

.SUBSTITUIDO {
	background-color: #ffcacd !important;
	background-image: none !important;
	color: #000000 !important;
}

.INDEFERIDO, .NAO_ATENDE {
	background-color: #ffe8e9 !important;
	background-image: none !important;
	color: #000000 !important;
}

.DEFERIDO, .ATENDE{
	background-color: #ddfff4 !important;
	background-image: none !important;
	color: #000000 !important;
}

.ui-state-highlight .ui-icon {
	background-image: url("/sefisca/javax.faces.resource/images/ui-icons_333333_256x240.png.ovs?ln=primefaces-bootstrap") !important;
}

/**
	recrutamentos
*/
.btn-abertos {
	background: #669933 !important;
}

.btn-encerrados {
	background: #ce2b28 !important;
}

.recrutamento-list-control {
	margin-top: 1em;
}

.recrutamento-list-control hr {
	margin: 10px;
}

.btn-recrutamento-label {
	height: 3em;
}

.encerrado-label {
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 999;
	background: #ce2b28;
	width: 108px;
	height: 40px;
	border-radius: 10px;
	color: #fff;
	/* padding: 5px; */
	/* padding-left: 10px; */
	text-align: center;
	padding-top: 17px;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0px;
}

.title-consulta {
	letter-spacing: -1px;
	font-weight: bold;
}

.painel-consultas .ui-widget-content {
	border: none;
}

.ui-paginator-rpp-options {
	display: none;
}

.painel-consultas .ui-paginator {
	font-size: 10px !important;
	margin-top: 1em;
}

.painel-consultas .ui-paginator .ui-state-default {
	margin-right: 10px !important;
	margin-left: 10px !important;
	padding-left: 10px !important;
	padding-right: 15px !important;
}

.painel-consultas .ui-paginator.ui-widget-header {
	background: none;
	border: none;
	display: block;
	margin-top: 2em;
	float: right;
}

.painel-consultas .ui-paginator-pages a {
	background: none;
	border: none;
	box-shadow: none;
	border-right: 1px dashed #a2b0bb;
	border-radius: 0;
}

.painel-consultas a.ui-paginator-next, .painel-consultas a.ui-paginator-last,
	.painel-consultas a.ui-paginator-prev, .painel-consultas a.ui-paginator-first
	{
	background: none;
	border: none;
	box-shadow: none;
	border-right: 1px dashed #a2b0bb;
	border-radius: 0;
}

.painel-consultas .ui-paginator a.ui-paginator-last {
	border-right: none !important;
}

.painel-consultas .ui-paginator .ui-paginator-current {
	display: none !important;
}

.recrutamento-header {
	text-align: right;
	position: relative;
	right: 0px;
	height: 2em;
	border-bottom: 1px solid #693;
	padding: 5px;
	margin-bottom: 1em;
	margin-top: 30px;
	font-weight: bolder;
	font-size: 1.6em;
	letter-spacing: -1px;
	color: #555;
	display: inline-table;
	width: 100%;
}

.recrutamento-header .label {
	font-size: 0.5em;
	color: #999;
	position: absolute;
	top: -10px;
	right: 0px;
	font-weight: normal;
	letter-spacing: 0px;
}

.recrutamento-situacao {
	min-width: 7em;
	/* border: 1px dashed; */
	/* position: absolute; */
	right: 0px;
	height: 3em;
	text-align: right;
	padding: 10px;
	border-radius: 10px;
	text-decoration: underline;
	font-style: italic;
}

.recrutamento-info {
	position: relative;
	top: 30px;
	margin-top: 1em;
	left: 30px;
	background: #669933;
	padding: 5px;
	border-radius: 10px;
	width: 170px;
	display: flow-root;
	overflow: visible;
	z-index: 9999;
}

.recrutamento-info .title {
	display: block;
	text-align: -webkit-center;
	font-weight: bold;
	margin-bottom: 5px;
	border-bottom: 1px dashed;
	padding-bottom: 3px;
}

.periodo-sep {
	display: flex;
	float: left;
}

.periodo.inicio {
	display: inline;
	margin-right:5px;
}

.periodo.fim {
	display: inline-block;
}

.periodo {
	float: left;
}

.recrutamento-info * {
	color: #fff !important;
	font-size: 1em;
}

.recrutamento-info label {
	font-size: 0.8em !important;
}

.recrutamento.recrutamento-container {
	border: 1px dashed #2d7167;
	max-height: 30em;
	overflow: hidden;
	min-height: 30em;
	position: relative;
	display: inline-block;
	width: 100%;
	/* margin-top: 60px; */
	border-radius: 20px;
	min-width: 300px;
}

.recrutamento-container .container-text {
	padding: 1em;
}

.recrutamento-texto.box {
	text-overflow: ellipsis;
	overflow: hidden;
	/* white-space: nowrap; */
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
}

.recrutamento-acoes .btn i {
	vertical-align: middle;
	display: contents;
	margin: 0px auto;
	position: relative;
}

.recrutamento-acoes .btn {
	bottom: 0px;
	color: #fff;
	background-color: #669933;
	border: none !important;
	width: 100%;
	height: 80px;
	margin-top: 20px;
	padding-top: 20px;
	position: absolute;
	font-size: 1.8em;
}

.recrutamento-acoes .btn a {
	color: #fff !important;
	margin-top: 30px;
	display: -webkit-inline-box;
}

.recrutamento-acoes.encerrada .btn {
	background-color: #ce2b28 !important;
}

.linha-impar {
	background-color: #f3faf0;
}